/workshops/unit1/WS03operators/BasicOperations1/nbproject/private/
/workshops/unit1/WS03operators/BasicOperations1/build/
/assignments/UNIT 1/HW1(int,float,short)/Area of a Decagonal Prism (int)/JavaApplication8/nbproject/private/
/assignments/UNIT 1/HW1(int,float,short)/Area of a Decagonal Prism (int)/AreaDecagonalPrism/nbproject/private/
/assignments/UNIT 1/HW1(int,float,short)/Area of a Decagonal Prism (int)/AreaDecagonalPrism/build/
/assignments/UNIT 1/HW1(int,float,short)/Area of a Decagonal Prism (int)/AreaDecagonalPrism(int)/nbproject/private/
/assignments/UNIT 1/HW1(int,float,short)/AreaDecagonalPrism(float)/nbproject/private/
/assignments/UNIT 1/HW1(int,float,short)/Area of a Decagonal Prism (float)/AreaDecagonalPrism(float)/nbproject/private/
/assignments/UNIT 1/HW1(int,float,short)/Area of a Decagonal Prism (float)/AreaDecagonalPrism(float)/build/
/assignments/UNIT 1/HW1(int,float,short)/Area of a Decagonal Prism (short)/AreaDecagonalPrism/nbproject/private/
/assignments/UNIT 1/HW1(int,float,short)/Area of a Decagonal Prism (short)/AreaDecagonalPrism/build/
/assignments/UNIT 1/HW1(int,float,short)/Area of a Decagonal Prism (float)/AreaDecagonalPrism/nbproject/private/
/assignments/UNIT 1/HW1(int,float,short)/Area of a Decagonal Prism (float)/AreaDecagonalPrism/build/
/workshops/unit1/WS04LogicalOperators/nbproject/private/
/workshops/unit1/WS04LogicalOperators/build/
/workshops/unit1/WS05Interations/nbproject/private/
/workshops/unit1/WS05Interations/build/
/assignments/UNIT 1/HW02Iteration/nbproject/private/
/assignments/UNIT 1/HW02Iteration/build/
/assignments/UNIT 1/HW3(while,for)/while/LoopWhile/nbproject/private/
/assignments/UNIT 1/HW3(while,for)/for/ForLoop/nbproject/private/
/assignments/UNIT 1/HW3(while,for)/for/ForLoop/build/
/assignments/UNIT 1/HW3(while,for)/while/LoopWhile/build/
/assignments/UNIT 1/HW3(while,for)/exercise/ExerciseLoop/nbproject/private/
/assignments/UNIT 1/HW3(while,for)/exercise/ExerciseLoop/build/
/workshops/unit1/WS07Menus/nbproject/private/
/workshops/unit1/WS07Menus/build/
/assignments/UNIT 1/HW4(Menu)/nbproject/private/
/assignments/UNIT 1/HW4(Menu)/build/
/Exam Unit 1/Potosí Daniel Q11/PotosíDanielQ11/nbproject/private/
/Exam Unit 1/Potosí Daniel Q11/PotosíDanielQ11/build/
/ProjectUnit1/nbproject/private/
/ProjectUnit1/build/
/workshops/unit2/ExamQ11Solution/nbproject/private/
/workshops/unit2/ExamQ11Solution/build/
/assignments/UNIT 2/HW01(factorial)/nbproject/private/
/assignments/UNIT 2/HW01(factorial)/build/
/assignments/UNIT 2/HW05(factorial)/nbproject/private/
/assignments/UNIT 2/HW05(factorial)/build/
/assignments/UNIT 2/HW09(EmbeddedStructures)/nbproject/private/
/assignments/UNIT 2/HW09(EmbeddedStructures)/build/
/assignments/UNIT 2/HW09EmbeddedStructures/nbproject/private/
/workshops/unit2/WS09(funtions)/nbproject/private/
/workshops/unit2/WS09(funtions)/build/
/HW09(funtions)/nbproject/private/
/assignments/UNIT 2/HW10(Funtions)/nbproject/private/
/assignments/UNIT 2/HW10(Funtions)/build/
/assignments/UNIT 2/HW11(Sucesion)/nbproject/private/
/assignments/UNIT 2/HW11(Sucesion)/build/
/assignments/UNIT 2/HW12(Recursion)/nbproject/private/
/workshops/unit2/WS10(libraries)/nbproject/private/
/workshops/unit2/WS10(libraries)/build/
/HW12(taxes)/nbproject/private/
/assignments/UNIT 2/HW12(Taxes)/nbproject/private/
/assignments/UNIT 2/HW12(Taxes)/build/
/workshops/unit2/WS13(Task)/nbproject/private/
/workshops/unit2/WS13(Task)/build/
/workshops/unit2/WS14(Arrays)/nbproject/private/
/workshops/unit2/WS14(Arrays)/build/
/assignments/UNIT 2/HW14(Arrays)/nbproject/private/
/assignments/UNIT 2/HW14(Arrays)/build/
/Quizzes/Unit2/Quiz1(SAG)/nbproject/private/
/Quizzes/Unit2/Quiz1(SAG)/build/
/workshops/unit2/WS15(SAG)/nbproject/private/
/workshops/unit2/WS15(SAG)/build/
/workshops/unit2/WS16(MatrixAddition)/nbproject/private/
/workshops/unit2/WS16(MatrixAddition)/build/
/assignments/UNIT 2/HW15(MatrixSubtraction)/nbproject/private/
/workshops/unit2/WS17(MatrixTransposition)/nbproject/private/
/workshops/unit2/WS17(MatrixTransposition)/build/
/assignments/UNIT 2/HW16(MatrixTransposition)/nbproject/private/
/assignments/UNIT 2/HW16(MatrixTransposition)/build/
/Exam Unit 2/(PotosíD)Q11/nbproject/private/
/Exam Unit 2/(PotosíD)Q11/build/
/Exam Unit 2/PotosíDQ11/nbproject/private/
/Exams/Exam Unit 1/Potosí Daniel Q11/PotosíDanielQ11/build/
/Exams/Exam Unit 1/Potosí Daniel Q11/PotosíDanielQ11/nbproject/private/
/workshops/unit3/WS18(EvelinQuilca)/nbproject/private/
/workshops/unit3/WS18(EvelinQuilca)/build/
/ProjectUnit1/Space3D/nbproject/private/
/ProjectUnit1/Space3D/build/
/ProjectUnit1/Space3D/dist/
