/workshops/unit1/WS03operators/BasicOperations1/nbproject/private/
/workshops/unit1/WS03operators/BasicOperations1/build/
/assignments/UNIT 1/HW1(int,float,short)/Area of a Decagonal Prism (int)/JavaApplication8/nbproject/private/
/assignments/UNIT 1/HW1(int,float,short)/Area of a Decagonal Prism (int)/AreaDecagonalPrism/nbproject/private/
/assignments/UNIT 1/HW1(int,float,short)/Area of a Decagonal Prism (int)/AreaDecagonalPrism/build/
/assignments/UNIT 1/HW1(int,float,short)/Area of a Decagonal Prism (int)/AreaDecagonalPrism(int)/nbproject/private/
/assignments/UNIT 1/HW1(int,float,short)/AreaDecagonalPrism(float)/nbproject/private/
/assignments/UNIT 1/HW1(int,float,short)/Area of a Decagonal Prism (float)/AreaDecagonalPrism(float)/nbproject/private/
/assignments/UNIT 1/HW1(int,float,short)/Area of a Decagonal Prism (float)/AreaDecagonalPrism(float)/build/
/assignments/UNIT 1/HW1(int,float,short)/Area of a Decagonal Prism (short)/AreaDecagonalPrism/nbproject/private/
/assignments/UNIT 1/HW1(int,float,short)/Area of a Decagonal Prism (short)/AreaDecagonalPrism/build/
/assignments/UNIT 1/HW1(int,float,short)/Area of a Decagonal Prism (float)/AreaDecagonalPrism/nbproject/private/
/assignments/UNIT 1/HW1(int,float,short)/Area of a Decagonal Prism (float)/AreaDecagonalPrism/build/
/workshops/unit1/WS04LogicalOperators/nbproject/private/
/workshops/unit1/WS04LogicalOperators/build/
/workshops/unit1/WS05Interations/nbproject/private/
/workshops/unit1/WS05Interations/build/
/assignments/UNIT 1/HW02Iteration/nbproject/private/
/assignments/UNIT 1/HW02Iteration/build/
/assignments/UNIT 1/HW3(while,for)/while/LoopWhile/nbproject/private/
/assignments/UNIT 1/HW3(while,for)/for/ForLoop/nbproject/private/
/assignments/UNIT 1/HW3(while,for)/for/ForLoop/build/
/assignments/UNIT 1/HW3(while,for)/while/LoopWhile/build/
/assignments/UNIT 1/HW3(while,for)/exercise/ExerciseLoop/nbproject/private/
/assignments/UNIT 1/HW3(while,for)/exercise/ExerciseLoop/build/
/workshops/unit1/WS07Menus/nbproject/private/
/workshops/unit1/WS07Menus/build/
/assignments/UNIT 1/HW4(Menu)/nbproject/private/
/assignments/UNIT 1/HW4(Menu)/build/
/Exam Unit 1/Potosí Daniel Q11/PotosíDanielQ11/nbproject/private/
/Exam Unit 1/Potosí Daniel Q11/PotosíDanielQ11/build/
/ProjectUnit1/nbproject/private/
/ProjectUnit1/build/
